<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Start Pod</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    $(document).ready(function () {
      $('#startButton').click(function () {
        // ボタンがクリックされたときの処理
        $.post('/start', function (data) {
          // レスポンスとしてセッションIDと状態を受け取る
          if (data.session_id) {
            window.location.href = '/status/' + data.session_id; // 状態ページにリダイレクト
          }
        });
      });
    });
  </script>
</head>

<body>
  <button id="startButton">Start Pod</button>
</body>

</html>